<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>首页</title>
		<link/>
		<link rel="stylesheet" th:href="@{/css/layout.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/assets/css/layui.css}" />
		<script type="text/javascript" th:src="@{/assets/layui.all.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery-1.11.3.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bannerslider.js}"></script>
		<script type="text/javascript" th:src="@{/js/layout.js}"></script>
	</head>

	<body>
	<div th:insert="~{top :: nav}"></div>
	<input type="hidden" id="user_id" th:if="${session.user}" th:value="${session.user.id}"/>
		<!--导航结构-->
		<div class="nav_wrap">
			<div class="nav_content auto">
				<ul class="list auto" id="nav_ulwrap">
						<li th:each="menu , iterStat : ${menulist}">
							<a href="#" th:href="@{/product/list(menu=${menu})}"><span th:class="'nav_s'+${iterStat.count}" th:text="${menu}">素材</span></a>
<!--							<div class="down">-->
<!--								<a class="nav_list left" href="pro_list.html">-->
<!--									<h2 class="nav_list_b1"><i>节日素材</i><span>1236</span></h2>-->
<!--									<div class="nav_list_jieshao">包含了大量节日素材，轻松解决节日大量活动广告设计的问题</div>-->
<!--								</a>-->
<!--								<a class="nav_list left" href="#">-->
<!--									<h2 class="nav_list_b2"><i>LOGO</i><span>1236</span></h2>-->
<!--									<div class="nav_list_jieshao">包含了大量节日素材，轻松解决节日大量活动广告设计的问题</div>-->
<!--								</a>-->
<!--								<a class="nav_list left" href="#">-->
<!--									<h2 class="nav_list_b3"><i>卡通素材/插画</i><span>1236</span></h2>-->
<!--									<div class="nav_list_jieshao">包含了大量节日素材，轻松解决节日大量活动广告设计的问题</div>-->
<!--								</a>-->
<!--								<a class="nav_list left" href="#">-->
<!--									<h2 class="nav_list_b4"><i>摄影图库</i><span>1236</span></h2>-->
<!--									<div class="nav_list_jieshao">包含了大量节日素材，轻松解决节日大量活动广告设计的问题</div>-->
<!--								</a>-->
<!--								<a class="nav_list left" href="#">-->
<!--									<h2 class="nav_list_b5"><i>视频素材</i><span>1236</span></h2>-->
<!--									<div class="nav_list_jieshao">包含了大量节日素材，轻松解决节日大量活动广告设计的问题</div>-->
<!--								</a>-->
<!--								<a class="nav_list left" href="#">-->
<!--									<h2 class="nav_list_b6"><i>3D素材</i><span>1236</span></h2>-->
<!--									<div class="nav_list_jieshao">包含了大量节日素材，轻松解决节日大量活动广告设计的问题</div>-->
<!--								</a>-->
<!--								<a class="nav_list left" href="#">-->
<!--									<h2 class="nav_list_b7"><i>工业建筑</i><span>1236</span></h2>-->
<!--									<div class="nav_list_jieshao">包含了大量节日素材，轻松解决节日大量活动广告设计的问题</div>-->
<!--								</a>-->
<!--								<a class="nav_list left" href="#">-->
<!--									<h2 class="nav_list_b8"><i>服装设计</i><span>1236</span></h2>-->
<!--									<div class="nav_list_jieshao">包含了大量节日素材，轻松解决节日大量活动广告设计的问题</div>-->
<!--								</a>-->
<!--								<div class="clear"></div>-->
<!--							</div>-->
						</li>

				</ul>
			</div>
		</div>
		<!--导航结构end-->

<!--		<div class="navside_wrap">-->
<!--			<div class="navside auto">-->
<!--				<ul>-->
<!--					<li><a href="#">会声会影</a></li>-->
<!--					<li><a href="#">思维导图</a></li>-->
<!--					<li><a href="#">Adobe Photoshop</a></li>-->
<!--					<li><a href="#">CAD</a></li>-->
<!--					<li><a href="#">Coreldraw</a></li>-->
<!--					<li><a href="#">PPT</a></li>-->
<!--				</ul>-->
<!--			</div>-->
<!--		</div>-->

		<!--banner结构-->
		<div id="banner_tabs" class="flexslider">
			<ul class="slides">
				<li>
					<a title="" target="_blank" href="#">
						<img width="1920" height="550" alt="" style="background: url(img/alpha1.png) no-repeat center;" th:src="@{/img/alpha.png}">
					</a>
				</li>
				<li>
					<a title="" href="#">
						<img width="1920" height="550" alt="" style="background: url(img/alpha2.jpg) no-repeat center;" th:src="@{/img/alpha.png}">
					</a>
				</li>
				<li>
					<a title="" href="#">
						<img width="1920" height="550" alt="" style="background: url(img/alpha3.jpg) no-repeat center;" th:src="@{/img/alpha.png}">
					</a>
				</li>
			</ul>
			<ul class="flex-direction-nav">
				<li><a class="flex-prev" href="javascript:;">Previous</a></li>
				<li><a class="flex-next" href="javascript:;">Next</a></li>
			</ul>
			<ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
				<li class="active"><a>1</a></li>
				<li><a>2</a></li>
				<li><a>3</a></li>
			</ol>
		</div>
		<!--banner结构end-->

		<!--内容结构-->
		<div class="main_content">
			<h2 class="zcq_title">最畅销&nbsp;&nbsp;<span  style="color: red"><em style="font-style:italic" >top7</em></span><a href="#" th:href="@{/product/list}">全部>></a></h2>
			<div class="zcq_wrap" id="img_ulwrap">
				<script type="text/javascript">
					$(function(){
						//加入购物车操作 detail_jrgwc
						$(".detail_jrgwc").on("click",
								function () {
									var ndiv=$(this);//获取要加入购物车的元素的标签
									var str=ndiv.attr("id");
									var sarr=str.split('_');
									var id=sarr[2];
									var nclazz=ndiv.hasClass("added");//判断是否已加入购物车
									// console.log(nclazz);

									if(ndiv.hasClass("added")){
										//已加入 nclazz:true
										// layui.use('layer', function() { //独立版的layer无需执行这一句
										// 	var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

											//触发事件
											layui.use('layer', function() { //独立版的layer无需执行这一句
												var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
												layer.msg('已经加入购物车，不可重复添加哟！');
											});
										// });

									}else{//未加入购物车，则进行加入操作 nclazz:false
										$.ajax(
												{
													url:contextPath +"/shopCar/add",
													data:{"sid":id,"flag":nclazz},
													// dataType:"json",
													type:"post",
													success:function(res){
														// alert(sucai.favnum);
														if(res){
															// console.log(res);
															// console.log("1111111");
															if(res=="success"){//用户不曾下过该素材的订单
																ndiv.addClass("added");
																// layui.use('layer', function() { //独立版的layer无需执行这一句
																// 	var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

																	//触发事件
																	layui.use('layer', function() { //独立版的layer无需执行这一句
																		var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
																		layer.msg('以成功添加购物车！可前往购物车查看结算');
																	});
																// });
															}
															if(res=="failed"){
																// ndiv.addClass("added");
																// layui.use('layer', function() { //独立版的layer无需执行这一句
																// 	var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

																	//触发事件
																	layui.use('layer', function() { //独立版的layer无需执行这一句
																		var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
																		layer.msg('你已经将有该素材相关的订单咯，无需再添加购物车！可前往订单记录中查看详情！');
																	});
																// });

															}
														}else {
															// alert(sucai);
															showDiv();
														}
													}
												}
										);

									}

								}
						);

						//点赞操作
						$(".caozuo_sc").on("click",
								function () {
									var ndiv=$(this);//获取隐藏div中当前点赞的元素标签
									var str=ndiv.attr("id");
									var sarr=str.split('_');
									var id=sarr[2];
									var anoaid="sc_a_"+sarr[2];
									var ana=$("#"+anoaid);//获取外部div中当前点赞的元素标签

									var nclazz=ndiv.hasClass("favored");//判断是否已被点赞
									// console.log(nclazz);
									if(ndiv.hasClass("favored")){
										//已点赞，则取消赞， nclazz:true
										$.ajax(
												{
													url:contextPath +"/product/fav/addfav",
													data:{"sid":id,"fav":nclazz},
													// dataType:"json",
													type:"post",
													success:function(sucai){
														// alert(sucai.favnum);
														ndiv.text("收藏("+sucai.favnum+")");
														ndiv.removeClass("favored");
														ana.text("收藏("+sucai.favnum+")");
														ana.removeClass("favored");
													}
												}
										);

									}else{//未被点赞，则进行点赞操作 nclazz:false
										$.ajax(
												{
													url:contextPath +"/product/fav/addfav",
													data:{"sid":id,"fav":nclazz},
													// dataType:"json",
													type:"post",
													success:function(sucai){
														// alert(sucai.favnum);
														if(sucai){
															ndiv.text("已收藏("+sucai.favnum+")");
															ndiv.addClass("favored");
															ana.text("已收藏("+sucai.favnum+")");
															ana.addClass("favored");
														}else {
															// alert(sucai);
															showDiv();
														}
													}
												}
										);

									}
								}
						);
						$(".sc_a").on("click",
								function () {
									var ndiv=$(this);//获取隐藏div中当前点赞的元素标签
									var str=ndiv.attr("id");
									var sarr=str.split('_');
									var id=sarr[2];
									var anoaid="caozuo_sc_"+sarr[2];
									var ana=$("#"+anoaid);//获取外部div中当前点赞的元素标签

									var nclazz=ndiv.hasClass("favored");//判断是否已被点赞
									// console.log(nclazz);
									if(ndiv.hasClass("favored")){
										//已点赞，则取消赞， nclazz:true
										$.ajax(
												{
													url:contextPath +"/product/fav/addfav",
													data:{"sid":id,"fav":nclazz},
													// dataType:"json",
													type:"post",
													success:function(sucai){
														// alert(sucai.favnum);
														ndiv.text("收藏("+sucai.favnum+")");
														ndiv.removeClass("favored");
														ana.text("收藏("+sucai.favnum+")");
														ana.removeClass("favored");
													}
												}
										);

									}else{//未被点赞，则进行点赞操作 nclazz:false
										$.ajax(
												{
													url:contextPath +"/product/fav/addfav",
													data:{"sid":id,"fav":nclazz},
													// dataType:"json",
													type:"post",
													success:function(sucai){
														// alert(sucai.favnum);
														if(sucai){
															ndiv.text("已收藏("+sucai.favnum+")");
															ndiv.addClass("favored");
															ana.text("已收藏("+sucai.favnum+")");
															ana.addClass("favored");

														}else {
															// alert(sucai);
															showDiv();
														}
													}
												}
										);

									}
								}
						);

					});

					function jumpToDetail(id) {
						window.location.href=contextPath +"/product/detail?menu=[[${menu_active}]]&submenu=[[${submenu_active}]]&id="+id;
					}

					// function jumpToDownload(id) {
					// 	console.log("进入了js方法");
					// 	// var test="[[${session.user}]]";
					// 	// console.log(test);
					// 	if("[[${session.user}]]"){//用户已登录
					// 		window.location.href=contextPath+"/product/download?id="+id;
					// 	}else{
					// 		showDiv();
					// 	}
					// }
					function jumpToDownload(id) {
						console.log("进入了js方法");

						// console.log(test);
						if("[[${session.user}]]"){//用户已登录
							var uid=$("#user_id").val();
							$.ajax(
									{
										url:contextPath +"/product/isPay",
										data:{"sid":id,"uid":uid},//传递参数：素材id和用户id
										// dataType:"json",
										type:"post",
										success:function(flag){
											console.log(flag);
											if(flag){//已购买
												// window.open(`${filePath}?attname=${fileName}`,'_self');
												//获取下载地址
												layui.use('layer', function() { //独立版的layer无需执行这一句
													var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
													layer.msg('该素材已经购买，将直接下载！');
												});
												$.ajax(
														{
															url:contextPath +"/product/getDownUrl",
															data:{"sid":id},//传递参数：素材id和用户id
															// dataType:"json",
															type:"post",
															success:function(url){
																console.log(url);
																// console.log(sucai.save+"?attname="+sucai.name+".jpg");
																// window.open(sucai.save+"?attname="+sucai.name+".jpg","_self");
																window.open(url,"_self");
																$.ajax(
																		{
																			url:contextPath +"/product/addDownNum",
																			data:{"sid":id,"uid":uid},//传递参数：素材id和用户id
																			// dataType:"json",
																			type:"post",
																			success:function(sucai){
																				// console.log(sucai);
																				// alert(url);
																				$("#caozuo_xz_"+id).text("下载("+sucai.downnum+")");
																				$("#xz_a_"+id).text("下载("+sucai.downnum+")");
																			}
																		}
																);
															}
														}
												);

											}else {
												layui.use('layer', function() { //独立版的layer无需执行这一句
													var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
													layer.msg('该素材还未购买，无法直接进行下载，请先添加购物车进行购买！');
												});
											}
										}
									}
							);


							// window.location.href=contextPath+"/product/download?id="+id;
						}else{
							showDiv();
						}
					}

				</script>
				<div class="zcq_div left" th:each="sucai,iterStat:${topsale}">
					<div class="zcq_c1">
						<div class="zc_list">
							<img th:src="${sucai.picUrl}" th:onclick="jumpToDetail([[${sucai.id}]])" />
							<!--鼠标滑过图片显示隐藏层结构-->
							<div class="detail_hidden">
								<input type="hidden" class="sucaiid" th:value="${sucai.id}"/>
								<a href="#"><img th:src="${sucai.picUrl}"  th:onclick="jumpToDetail([[${sucai.id}]])"/></a>
								<div class="detail_hidden_wrap">
									<!--									<h2 th:text="${sucai.name}">手机移动H5页面模板<span th:text="${sucai.money}">¥398</span></h2>-->
									<h2 >[[${sucai.name}]]<span th:text="'¥'+${sucai.money}">¥398</span></h2>
									<div class="detail_user_wrap">
										<div class="detail_list_img"><a href="#" th:href="@{/product/detail(menu=${menu_active},submenu=${submenu_active},id=${sucai.id})}"><img th:src="@{/img/detail_hidden_img.jpg}" /></a></div>
										<div class="detail_list_name" th:text="${sucai.author}">番茄设计团队</div>
									</div>
									<div class="detail_caozuo_wrap">
										<!--		th:classappend="${#lists.contains(favlist,sucai.id)}? 'favored':''"								-->
										<!--										<a class="caozuo_sc" href="javascript:void(0);" th:onclick="fav([[${sucai.id}]])" th:text="'收藏('+${sucai.favnum}+')'">收藏（2333）</a><a class="caozuo_xz" href="#" th:text="'下载('+${sucai.downnum}+')'">下载（2333）</a>-->
										<a class="caozuo_sc" th:if="${favlist}"  th:classappend="${#lists.contains(favlist,sucai.id)} ? 'favored':''" th:id="'caozuo_sc_'+${sucai.id}" href="javascript:void(0);" th:text="${#lists.contains(favlist,sucai.id)} ?'已收藏('+${sucai.favnum}+')':'收藏('+${sucai.favnum}+')'">收藏（2333）</a>
										<a class="caozuo_sc" th:unless="${favlist}" th:id="'caozuo_sc_'+${sucai.id}" href="javascript:void(0);" th:text="'收藏('+${sucai.favnum}+')'">收藏（2333）</a>
										<a class="caozuo_xz" th:id="'caozuo_xz_'+${sucai.id}" href="javascript:void(0);" th:href="@{/product/detail(menu=${menu_active},submenu=${submenu_active},id=${sucai.id})}" th:text="'下载('+${sucai.downnum}+')'">下载（2333）</a>
									</div>
									<div class="detail_biaoqian_wrap">
										<ul>
											<!--											<li>标签</li>-->
											<!--											<li>标签</li>-->
											<!--											<li>标签</li>-->
											<!--											<li>标签</li>-->
										</ul>
									</div>
									<div class="detail_btn_wrap">
										<!--										<a class="detail_xz" href="#"  th:href="@{/product/detail(menu=${menu_active},submenu=${submenu_active},id=${sucai.id})}">立即下载</a><a class="detail_jrgwc" href="#"><img th:src="@{/img/hidden_gwc_white.png}" /></a>-->
										<a class="detail_xz" href="javascript:void(0);"  th:onclick="jumpToDownload([[${sucai.id}]])">立即下载</a>
										<a th:if="${shopcar}" th:classappend="${#lists.contains(shopcar,sucai.id)} ? 'added':''" class="detail_jrgwc" th:id="'detail_jrgwc_'+${sucai.id}" href="javascript:void(0);"><img th:src="@{/img/hidden_gwc_white.png}" /></a>
										<a th:unless="${shopcar}" class="detail_jrgwc" th:id="'detail_jrgwc_'+${sucai.id}" href="javascript:void(0);"><img th:src="@{/img/hidden_gwc_white.png}" /></a>
									</div>
								</div>
							</div>
							<!--鼠标滑过图片显示隐藏层结构end-->
						</div>
					</div>
					<h2 class="zcq_c2" th:text="${sucai.name}">手机H5页面模板</h2>
					<div class="zcq_c3">
						<a class="sc_a" th:if="${favlist}" th:classappend="${#lists.contains(favlist,sucai.id)} ? 'favored':''" href="javascript:void(0);" th:id="'sc_a_'+${sucai.id}" th:text="${#lists.contains(favlist,sucai.id)} ?'已收藏('+${sucai.favnum}+')':'收藏('+${sucai.favnum}+')'">收藏（2333）</a><a class="xz_a" th:id="'xz_a_'+${sucai.id}" th:if="${favlist}" href="javascript:void(0);" th:href="@{/product/detail(menu=${menu_active},submenu=${submenu_active},id=${sucai.id})}" th:text="'下载('+${sucai.downnum}+')'">下载（2333）</a>
						<a class="sc_a" th:unless="${favlist}" href="javascript:void(0);" th:id="'sc_a_'+${sucai.id}" th:text="'收藏('+${sucai.favnum}+')'">收藏（2333）</a><a class="xz_a" th:id="'xz_a_'+${sucai.id}" href="javascript:void(0);" th:unless="${favlist}" th:href="@{/product/detail(menu=${menu_active},submenu=${submenu_active},id=${sucai.id})}" th:text="'下载('+${sucai.downnum}+')'">下载（2333）</a>
					</div>
				</div>

				<div class="clear"></div>
			</div>

			<h2 class="zcq_title">热门&nbsp;&nbsp;<span  style="color: red"><em style="font-style:italic" >top7</em></span><a href="#" th:href="@{/product/list}">全部>></a></h2>
			<div class="zcq_wrap" >
				<div class="zcq_div left" th:each="sucai,iterStat:${topfav}">
					<div class="zcq_c1">
						<div class="zc_list">
							<img th:src="${sucai.picUrl}" th:onclick="jumpToDetail([[${sucai.id}]])" />
							<!--鼠标滑过图片显示隐藏层结构-->
							<div class="detail_hidden">
								<input type="hidden" class="sucaiid" th:value="${sucai.id}"/>
								<a href="#"><img th:src="${sucai.picUrl}"  th:onclick="jumpToDetail([[${sucai.id}]])"/></a>
								<div class="detail_hidden_wrap">
									<!--									<h2 th:text="${sucai.name}">手机移动H5页面模板<span th:text="${sucai.money}">¥398</span></h2>-->
									<h2 >[[${sucai.name}]]<span th:text="'¥'+${sucai.money}">¥398</span></h2>
									<div class="detail_user_wrap">
										<div class="detail_list_img"><a href="#" th:href="@{/product/detail(menu=${menu_active},submenu=${submenu_active},id=${sucai.id})}"><img th:src="@{/img/detail_hidden_img.jpg}" /></a></div>
										<div class="detail_list_name" th:text="${sucai.author}">番茄设计团队</div>
									</div>
									<div class="detail_caozuo_wrap">
										<!--		th:classappend="${#lists.contains(favlist,sucai.id)}? 'favored':''"								-->
										<!--										<a class="caozuo_sc" href="javascript:void(0);" th:onclick="fav([[${sucai.id}]])" th:text="'收藏('+${sucai.favnum}+')'">收藏（2333）</a><a class="caozuo_xz" href="#" th:text="'下载('+${sucai.downnum}+')'">下载（2333）</a>-->
										<a class="caozuo_sc" th:if="${favlist}"  th:classappend="${#lists.contains(favlist,sucai.id)} ? 'favored':''" th:id="'caozuo_sc_'+${sucai.id}" href="javascript:void(0);" th:text="${#lists.contains(favlist,sucai.id)} ?'已收藏('+${sucai.favnum}+')':'收藏('+${sucai.favnum}+')'">收藏（2333）</a>
										<a class="caozuo_sc" th:unless="${favlist}" th:id="'caozuo_sc_'+${sucai.id}" href="javascript:void(0);" th:text="'收藏('+${sucai.favnum}+')'">收藏（2333）</a>
										<a class="caozuo_xz" th:id="'caozuo_xz_'+${sucai.id}" href="javascript:void(0);" th:href="@{/product/detail(menu=${menu_active},submenu=${submenu_active},id=${sucai.id})}" th:text="'下载('+${sucai.downnum}+')'">下载（2333）</a>
									</div>
									<div class="detail_biaoqian_wrap">
										<ul>

										</ul>
									</div>
									<div class="detail_btn_wrap">
										<!--										<a class="detail_xz" href="#"  th:href="@{/product/detail(menu=${menu_active},submenu=${submenu_active},id=${sucai.id})}">立即下载</a><a class="detail_jrgwc" href="#"><img th:src="@{/img/hidden_gwc_white.png}" /></a>-->
										<a class="detail_xz" href="javascript:void(0);"  th:onclick="jumpToDownload([[${sucai.id}]])">立即下载</a>
										<a th:if="${shopcar}" th:classappend="${#lists.contains(shopcar,sucai.id)} ? 'added':''" class="detail_jrgwc" th:id="'detail_jrgwc_'+${sucai.id}" href="javascript:void(0);"><img th:src="@{/img/hidden_gwc_white.png}" /></a>
										<a th:unless="${shopcar}" class="detail_jrgwc" th:id="'detail_jrgwc_'+${sucai.id}" href="javascript:void(0);"><img th:src="@{/img/hidden_gwc_white.png}" /></a>
									</div>
								</div>
							</div>
							<!--鼠标滑过图片显示隐藏层结构end-->
						</div>
					</div>
					<h2 class="zcq_c2" th:text="${sucai.name}">手机H5页面模板</h2>
					<div class="zcq_c3">
						<a class="sc_a" th:if="${favlist}" th:classappend="${#lists.contains(favlist,sucai.id)} ? 'favored':''" href="javascript:void(0);" th:id="'sc_a_'+${sucai.id}" th:text="${#lists.contains(favlist,sucai.id)} ?'已收藏('+${sucai.favnum}+')':'收藏('+${sucai.favnum}+')'">收藏（2333）</a><a class="xz_a" th:id="'xz_a_'+${sucai.id}" th:if="${favlist}" href="javascript:void(0);" th:href="@{/product/detail(menu=${menu_active},submenu=${submenu_active},id=${sucai.id})}" th:text="'下载('+${sucai.downnum}+')'">下载（2333）</a>
						<a class="sc_a" th:unless="${favlist}" href="javascript:void(0);" th:id="'sc_a_'+${sucai.id}" th:text="'收藏('+${sucai.favnum}+')'">收藏（2333）</a><a class="xz_a" th:id="'xz_a_'+${sucai.id}" href="javascript:void(0);" th:unless="${favlist}" th:href="@{/product/detail(menu=${menu_active},submenu=${submenu_active},id=${sucai.id})}" th:text="'下载('+${sucai.downnum}+')'">下载（2333）</a>
					</div>
				</div>
				<div class="clear"></div>
			</div>

	<div th:insert="~{bottom :: nav}"></div>
	</body>
</html>
